@import "variables.module";

.accordionHeader {
  position: relative;
  border-top: 2px solid #000;
  padding: 10px 10px 3px;
  line-height: 1.1;
  cursor: pointer;

  ._heading {
    margin-right: 4px;
  }
}

.accordionContent {
  padding: 15px;
  line-height: 1.25;
  font-weight: 300;
  display: none;
}

.downArrow {
  height: 22px;
  width: auto;
  transition: transform 1s;
}

.expanded {
  &:not(.black) {
    .accordionHeader {
      background: $color-Yellow;
    }
  }

  .accordionContent {
    display: block;
  }

  .downArrow {
    transform: rotate(-180deg);
    transform-style: preserve-3d;
  }
}

.closed {
  .accordionContent {
    display: none;
  }
}

.accordionWrap:not(.black) {
  &.fullContent {
    .accordionHeader {
      background: $color-Yellow;
    }

    .accordionContent {
      padding: 0 !important;
    }
  }
}

.prefixTitle {
  position: absolute;
  top: 14px;
  left: 4px;
  font-size: 45%;
}


.black {
  &.accordionWrap {
    background-color: $color-SoftBlack;
    color: $color-White;
  }

  .accordionContent {
    height: calc(100vh - 160px);
    padding: 20px 20px 15px 50px;
    line-height: 1.14;
  }
}

@media only screen and (min-width: 768px) {
  .accordionHeader {
    padding: 15px 20px 5px;

    ._heading {
      margin-right: 6px;
    }
  }

  .accordionContent {
    padding: 15px 10vw 15px 40px;
  }

  .downArrow {
    height: 2.7vw;
  }

  .black {
    .accordionContent {
      height: calc(100vh - 50px - 6vw - 40px - 8vw);
      padding-left: calc(5vw + 30px);
      padding-right: 50px;
      padding-bottom: 15px;

      p {
        line-height: 1;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .accordionWrap:not(.black) {
    .accordionHeader {
      &:hover {
        background: $color-Yellow;
      }
    }
  }
}

@media only screen and (min-width: 1400px) {
  .accordionHeader {
    padding: 15px 30px 5px;

    ._heading {
      margin-right: 10px;
    }
  }

  .accordionContent {
    padding: 20px 10vw 20px 50px;
  }

  .downArrow {
    height: 45px;
  }

  .black {
    .accordionContent {
      padding-left: 120px;
      padding-right: 50px;
      padding-bottom: 20px;
    }
  }
}