@import "variables.module";

.accordionHeader {
  position: relative;
  border-top: 2px solid #000;
  padding: 10px 10px 3px;
  line-height: 1.1;
  cursor: pointer;

  ._heading {
    margin-right: 4px;
  }
}

.accordionContent {
  padding: 15px;
  line-height: 1.25;
  font-weight: 300;
}

.downArrow {
  height: 22px;
  width: auto;
  transition: transform 1s;
}

.expanded {
  .accordionHeader {
    background: $color-Yellow;
  }

  .downArrow {
    transform: rotate(-180deg);
    transform-style: preserve-3d;
  }
}

.closed {

}

.accordionWrap {
  &.fullContent {
    .accordionHeader {
      background: $color-Yellow;
    }

    .accordionContent {
      padding: 0 !important;
    }
  }
}

@media only screen and (min-width: 768px) {
  .accordionHeader {
    padding: 15px 20px 5px;

    ._heading {
      margin-right: 6px;
    }
  }

  .accordionContent {
    padding: 15px 10vw 15px 40px;
  }

  .downArrow {
    height: 2.7vw;
  }
}

@media only screen and (min-width: 1024px) {
  .accordionHeader {
    &:hover {
      background: $color-Yellow;
    }
  }
}

@media only screen and (min-width: 1440px) {
  .accordionHeader {
    padding: 15px 30px 5px;

    ._heading {
      margin-right: 10px;
    }
  }

  .accordionContent {
    padding: 20px 10vw 20px 50px;
  }

  .downArrow {
    height: 45px;
  }
}