@import "variables.module";

.ctaButton {

  span {
    font-size: 18px;
  }

  .ctaLink {
    position: relative;
    padding-right: 30px;
    display: inline-block;
    overflow: hidden;

    .arrow {
      width: 24px;
      height: 27px;
      position: absolute;
      top: 0;
      bottom: auto;
      left: auto;
      right: 0;
      z-index: 3;
      overflow: hidden;

      img {
        transform: translate3d(-115%, 115%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
        transform-style: preserve-3d;
        transition-duration: 0.4s;
        transition-delay: 0.6s;
      }
    }

    .bottomLine {
      width: 0;
      height: 2px;
      background: #000;
      position: absolute;
      bottom: 0;
      left: 0;
      transition-duration: 1s;
      transition-property: width;
    }

    > span {
      position: relative;
    }

    &:hover {
      .bottomLine {
        width: 100%;
      }

      .arrow img {
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
      }
    }
  }

  .brandWrap {
    font-size: 40px;
  }

  .copyrightWrap {
    font-size: 12px;
  }
}

.blueButton {
  .ctaLink {
    background: $color-Blue;
    color: #fff;
    border: 2px solid #0827F5;
    border-radius: 10px;
    padding: 6px 14px;

    .ctaLinkInner {
      position: relative;
      display: inline-block;
      padding-right: 22px;

      .bottomLine {
        display: none;
        background: $color-White;
      }

      .arrow {
        top: 1px;
        right: 0;
        width: 23px;
        height: 13px;

        img {
          transform: none;
          transition: none;
        }
      }
    }

    svg {
      width: 23px;
      height: auto;
    }

    &:hover {
      background: #fff;
      color: $color-Blue;
      svg path {
         fill: $color-Blue;
      }
    }
  }
}

@media screen and (min-width: 1440px) {

  .blueButton {

    span {
      font-size: 42px;
    }

    .ctaLink {
      padding: 7px 32px;
      border-radius: 20px;

      .ctaLinkInner {
        padding-right: 50px;

        .arrow {
          display: flex;
          justify-content: center;
          align-items: center;
          top: 3px;
          right: 0;
          width: 40px;
          height: 40px;

          img {
            width: 30px !important;
            height: auto;
          }
        }
      }

      svg {
        width: auto;
      }
    }
  }
}