@import 'Slick.css';

@font-face {
  font-family: "FontSui";
  src: url('../fonts/SuisseIntl-Medium.otf'),
  url('../fonts/SuisseIntl-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "FontSui";
  src: url('../fonts/SuisseIntl-Light.otf'),
  url('../fonts/SuisseIntl-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "FontSui";
  src: url('../fonts/SuisseIntl-SemiBold.otf'),
  url('../fonts/SuisseIntl-SemiBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "FontSui";
  src: url('../fonts/SuisseIntl-SemiBold.otf'),
  url('../fonts/SuisseIntl-SemiBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "FontRoc";
  src: url('../fonts/RocGrotesk-Medium.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "FontRoc";
  src: url('../fonts/RocGrotesk-Light.otf');
  font-weight: 300;
  font-style: normal;
}

.FontSui {
  font-family: 'FontSui', 'FontRoc', sans-serif;
}

.FontRoc {
  font-family: 'FontRoc', 'FontSui', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 100vw;
  color: #000;
  font-family: 'FontRoc', FontSui, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  overflow-x: hidden;
}

body.body main {
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Font and Spacing */
.pad10 {
  padding-bottom: 10px;
}

.pad20 {
  padding-bottom: 20px;
}

.pad30 {
  padding-bottom: 30px;
}

.pad40 {
  padding-bottom: 40px;
}

.pad50 {
  padding-bottom: 50px;
}

.lh-1 {
  line-height: 1;
}

.lh-1_05 {
  line-height: 1.05;
}

.lh-1_1 {
  line-height: 1.1;
}

.lh-1_15 {
  line-height: 1.15;
}

.lh-1_2 {
  line-height: 1.2;
}

.lh-1_3 {
  line-height: 1.3;
}

.lh-1_4 {
  line-height: 1.4;
}

.lh-1_5 {
  line-height: 1.5;
}

.lh-1_6 {
  line-height: 1.6;
}

.lh-1_7 {
  line-height: 1.7;
}

.lh-2 {
  line-height: 1.2;
}

.fw-100, .fw-100 * {
  font-weight: 100
}

.fw-200, .fw-200 * {
  font-weight: 200
}

.fw-300, .fw-300 * {
  font-weight: 300
}

.fw-400, .fw-400 * {
  font-weight: 400;
}

.fw-500, .fw-500 * {
  font-weight: 500;
}

.fw-600, .fw-600 * {
  font-weight: 600;
}

.fw-bold, .fw-bold * {
  font-weight: bold;
}

.fw-700, .fw-700 * {
  font-weight: 700;
}

.fw-900, .fw-900 * {
  font-weight: 900;
}

p, .s24_42, .s24_30, .s24_64 {
  font-size: 24px;
}

.s26_42 {
  font-size: 26px;
}

.s28_42, .s28_42 * {
  font-size: 28px;
}

.s30 {
  font-size: 30px;
}

h4, .h4 {
  font-size: 32px;
  font-weight: 500;
}

.s34_42, .s34_42 * {
  font-size: 34px;
}

.s40, .s40_64, .s40_100 {
  font-size: 40px;
}

.s42_64 {
  font-size: 42px;
}

.s46_120 {
  font-size: 46px;
}

.s48_120 {
  font-size: 48px;
}

h3, .h3, .s50, .s50_140 {
  font-size: 50px;
  font-weight: 500;
}

h2, .h2, .s60 {
  font-size: 60px;
  font-weight: 500;
}

h1, .h1, .s70 {
  font-size: 70px;
  font-weight: 500;
}

@media only screen and (max-width: 389px) {
  /* x 0.6 */
  p, .s24_42, .s24_30, .s24_64 {
    font-size: 14px;
  }

  .s26_42 {
    font-size: 16px;
  }

  .s28_42, .s28_42 * {
    font-size: 17px;
  }

  .s30 {
    font-size: 18px;
  }

  h4, .h4 {
    font-size: 19px;
  }

  .s34_42, .s34_42 * {
    font-size: 20px;
  }

  .s40, .s40_64, .s40_100 {
    font-size: 24px;
  }

  .s42_64 {
    font-size: 25px;
  }

  .s46_120 {
    font-size: 27px;
  }

  .s48_120 {
    font-size: 29px;
  }

  h3, .h3, .s50, .s50_140 {
    font-size: 30px;
  }

  h2, .h2, .s60 {
    font-size: 36px;
  }

  h1, .h1, .s70 {
    font-size: 42px;
  }
}

@media only screen and (min-width: 390px) and (max-width: 450px) {
  /* x 0.8 */
  p, .s24_42, .s24_30, .s24_64 {
    font-size: 19px;
  }

  .s26_42 {
    font-size: 21px;
  }

  .s28_42, .s28_42 * {
    font-size: 22px;
  }

  .s30 {
    font-size: 24px;
  }

  h4, .h4 {
    font-size: 25px;
  }

  .s34_42, .s34_42 * {
    font-size: 27px;
  }

  .s40, .s40_64, .s40_100 {
    font-size: 32px;
  }

  .s42_64 {
    font-size: 34px;
  }

  .s46_120 {
    font-size: 37px;
  }

  .s48_120 {
    font-size: 38px;
  }

  h3, .h3, .s50, .s50_140 {
    font-size: 40px;
  }

  h2, .h2, .s60 {
    font-size: 48px;
  }

  h1, .h1, .s70 {
    font-size: 56px;
  }
}


@media only screen and (min-width: 390px) and (max-width: 580px) {
  .pageTechnology p,
  .pageTechnology .s24_42,
  .pageTechnology .s24_30,
  .pageTechnology .s24_64,
  .pageTechnology .s28_42, .pageTechnology  .s28_42 * {
    font-size: 17px;
  }

  .pageTechnology .s40,
  .pageTechnology .s40_64,
  .pageTechnology .s40_100 {
    font-size: 24px;
  }

  .pageTechnology .s28_42, .pageTechnology  .s28_42 * {
    font-size: 17px;
  }
}



@media only screen and (min-width: 768px) {
  .s24_30 {
    font-size: 28px;
  }

  p, .s24_42, .s26_42 {
    font-size: 30px;
  }

  .s28_42, .s28_42 * {
    font-size: 32px;
  }

  .s34_42, .s34_42 * {
    font-size: 38px;
  }

  .s30 {
    font-size: 42px;
  }

  h4, .h4, .s40_64, .s42_64, .s24_64 {
    font-size: 45px;
  }

  .s40 {
    font-size: 56px;
  }

  h3, .h3, .s50, .s40_100 {
    font-size: 70px;
  }

  h2, .h2, .s60, .s46_120, .s48_120 {
    font-size: 84px;
  }

  h1, .h1, .s70, .s50_140 {
    font-size: 98px;
  }
}

@media only screen and (min-width: 1440px) {
  .s24_30 {
    font-size: 30px;
  }

  p, .s24_42, .s26_42, .s28_42, .s28_42 *, .s34_42, .s34_42 * {
    font-size: 42px;
  }

  .s30 {
    font-size: 60px;
  }

  h4, .h4, .s40_64, .s42_64, .s24_64 {
    font-size: 64px;
  }

  .s40 {
    font-size: 80px;
  }

  h3, .h3, .s50, .s40_100 {
    font-size: 100px;
  }

  h2, .h2, .s60, .s46_120, .s48_120 {
    font-size: 120px;
  }

  h1, .h1, .s70, .s50_140 {
    font-size: 140px;
  }
}

/* # Font and Spacing */


.fp-watermark, .fp-watermark > a {
  display: none !important;
}

/* Effect */
#fullPage .section {
  overflow-y: hidden;
  overflow-x: hidden;
}

.fp-section.active:not(.initNotRunEffect) ._lineTopEffect,
.fp-section.active:not(.initNotRunEffect) ._lineBottomEffect {
  width: 124vh !important;
}

.fp-section.active:not(.initNotRunEffect) ._lineLeftEffect,
.fp-section.active:not(.initNotRunEffect) ._lineRightEffect {
  width: 2000px !important;
}

.fp-section.active:not(.initNotRunEffect) ._underLineEffect:after {
  width: 100% !important;
}

.fp-section ._backInLeft {
  position: relative;
  left: -300px;
  opacity: 0;
  transition: left 1s 0.5s, opacity 1s 0.5s;
}

.fp-section.active:not(.initNotRunEffect) ._backInLeft {
  left: 0;
  opacity: 1;
}

.fp-section ._backInRight {
  position: relative;
  right: -300px;
  opacity: 0;
  transition: right 1s 0.5s, opacity 1s 0.5s;
}

.fp-section.active:not(.initNotRunEffect) ._backInRight {
  right: 0;
  opacity: 1;
}

.fp-section ._backInTop {
  position: relative;
  top: -200px;
  opacity: 0;
  transition: top 1s 0.5s, opacity 1s 0.5s;
}

.fp-section.active:not(.initNotRunEffect) ._backInTop {
  top: 0;
  opacity: 1;
}

.fp-section ._backInBottom {
  position: relative;
  bottom: -200px;
  opacity: 0;
  transition:  opacity 1s 0.5s, bottom 1s 0.5s;
}

.fp-section.active:not(.initNotRunEffect) ._backInBottom {
  bottom: 0;
  opacity: 1;
}

.fp-section ._fadeOutIn {
  opacity: 0;
  transition:  opacity 1s 1s ease-in-out;
}

.fp-section.active:not(.initNotRunEffect) ._fadeOutIn {
  opacity: 1;
}


.fp-section ._rotateFromBottom {
  position: relative;
  transform: rotate(180deg);
  opacity: 0;
  bottom: -200px;
  transition: transform 1s 0.5s, opacity 1s 0.5s, bottom 1s 0.5s;
}

.fp-section.active:not(.initNotRunEffect) ._rotateFromBottom {
  opacity: 1;
  bottom: 0;
  transform: rotate(0deg);
}

.fp-section ._rotateButton > a {
  position: relative;
  transform: rotate(480deg);
  opacity: 0;
  transition: transform 2s, opacity 1s 0.5s;
}

.fp-section.active:not(.initNotRunEffect) ._rotateButton > a {
  opacity: 1;
  transform: rotate(0deg);
}

@media only screen and (min-width: 768px) {
  .fp-section.active:not(.initNotRunEffect) ._lineTopEffect {
    width: 100vh;
  }

  .fp-section.active:not(.initNotRunEffect) ._underLineEffect:after {
    width: calc(100% - 100px) !important;
  }
}

@media only screen and (min-width: 1440px) {
  .fp-section.active:not(.initNotRunEffect) ._underLineEffect:after {
    width: calc(100% - 150px) !important;
  }
}

/* END - Effect */

/* Pagination */
body.about #fp-nav {
  display: none;
}

body #fp-nav.fp-left {
  left: 55px;
}

body #fp-nav ul li,
body #fp-nav ul li a span,
body #fp-nav ul li:hover a span,
body #fp-nav ul li:hover a.active span,
body #fp-nav ul li a.active span {
  width: 25px;
  height: 22px;
}

body #fp-nav ul li {
  margin: 7px;
}

body #fp-nav ul li a span,
body #fp-nav ul li:hover a span,
body #fp-nav ul li:hover a.active span,
body #fp-nav ul li a.active span {
  border: 1px solid #000;
  border-radius: 5px;
  margin: 0;
}

body #fp-nav ul li a span {
  background: #fff;
  top: 0;
  left: 0;
}

body #fp-nav ul li:hover a span,
body #fp-nav ul li:hover a.active span,
body #fp-nav ul li a.active span {
  background: #0827F5;
}

body #fp-nav ul li:nth-child(2n):hover a span,
body #fp-nav ul li:nth-child(2n):hover a.active span,
body #fp-nav ul li:nth-child(2n) a.active span {
  background: #F7F749;
}

body.about #fp-nav {
  top: 250px;
}

@media only screen and (min-width: 768px) {
  body #fp-nav ul li {
    margin: 10px;
  }

  body #fp-nav ul li,
  body #fp-nav ul li a span,
  body #fp-nav ul li:hover a span,
  body #fp-nav ul li:hover a.active span,
  body #fp-nav ul li a.active span {
    width: 30px;
    height: 27px;
    border-radius: 7px;
  }

  body #fp-nav.fp-left {
    left: calc(6vw + 44px);
  }

  body.about #fp-nav {
    top: calc(25vw + 205px);
  }
}

@media only screen and (min-width: 1200px) {
  body.about #fp-nav {
    top: calc(17vw + 197px);
  }
}


@media only screen and (min-width: 1440px) {
  body.about #fp-nav.fp-left {
    top: calc(30vh + 163px);
    left: 168px;
    transform: translateY(0);
  }

  body #fp-nav ul li,
  body #fp-nav ul li a span,
  body #fp-nav ul li:hover a span,
  body #fp-nav ul li:hover a.active span,
  body #fp-nav ul li a.active span {
    width: 40px;
    height: 36px;
    border-radius: 10px;
  }
}

/* END - Pagination */

/* Page Title */
.pageCaseStudies ._title,
.pageSystemIntegration ._title {
  margin-top: 2px;
}

@media only screen and (min-width: 768px) {
  .pageAbout ._title,
  body.contact ._title {
    margin-top: 10px;
  }
}

/* # Page Title */

/* Black Slick */
body.scrollHidden {
  overflow-y: hidden;
  padding-right: 15px;
}

body.scrollHidden header {
  width: calc(100% - 15px);
}

.blackSlickSlider {

}

.blackSlickSlider .slick-slide {
  /*padding-top: 20px;*/
}

.blackSlickSlider .slick-dots {
  position: absolute;
  top: 0;
  left: -42px;
}

.blackSlickSlider .slick-dots li {
  font-size: 0;
  line-height: 0;
}

.blackSlickSlider .slick-dots li::marker {
  display: none;
  font-size: 0;
}

.blackSlickSlider .slick-dots li button {
  width: 25px;
  height: 25px;
  background: #fff;
  color: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

.blackSlickSlider .slick-dots li:hover button,
.blackSlickSlider .slick-dots li.slick-active button {
  background: #0827F5;
  border-color: #0827F5;
}

@media only screen and (min-width: 1440px) {
  .blackSlickSlider .slick-dots {
    left: -63px;
  }

  .blackSlickSlider .slick-dots li button {
    width: 40px;
    height: 40px;
  }
}

/* # Black Slick */