.sentencesWrap {
}

.sentence {
  display: inline-block;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(70px) scale(1) translateZ(0);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1) translateZ(0);
  }
}

.__fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode: both;
}