@import "variables.module";

.footer {
  padding: 25px 20px 15px;

  p {
    margin: 0;
  }

  .ctaWrap {
    margin-bottom: 100px;
    font-size: 18px;

    .ctaLink {
      position: relative;
      padding-right: 30px;
      display: inline-block;
      overflow: hidden;

      .arrow {
        width: 24px;
        height: 27px;
        filter: brightness(0%);
        position: absolute;
        top: 0;
        bottom: auto;
        left: auto;
        right: 0;
        z-index: 3;
        overflow: hidden;

        img {
          transform: translate3d(-100%, 100%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
          transform-style: preserve-3d;
          transition-duration: 0.4s;
          transition-delay: 0.6s;
        }
      }

      .bottomLine {
        width: 0;
        height: 2px;
        background: $color-Black;
        position: absolute;
        bottom: 0;
        left: 0;
        transition-duration: 1s;
        transition-property: width;
      }

      > span {
        position: relative;
      }

      &:hover {
        .bottomLine {
          width: 100%;
        }

        .arrow img {
          transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
        }
      }
    }

    .brandWrap {
      font-size: 40px;
    }

    .copyrightWrap {
      font-size: 12px;
    }
  }
}

@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-wrap: wrap;

    .ctaWrap {
      display: flex;
      justify-content: right;
      order: 2;
      flex: 70%;
      padding-top: 19px;
    }

    .brandWrap {
      order: 1;
      font-size: 70px;
      flex: 30%;
    }

    .copyrightWrap {
      order: 3;
      flex: 100%;
    }

  }
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 30px 35px;
    .ctaWrap {
      font-size: 24px;
    }
    .copyrightWrap {
      font-size: 16px;
    }
  }
}