@import "variables.module";

.accordionWrap {
  border-top: 2px solid #000;

  &.hasPrefix {
    .headingContainer {
      padding-left: 22px;
    }
  }

  &.emptyContent {
    background-color: $color-Yellow;
  }
}

.accordionHeader {
  position: relative;
  padding: 10px 10px 3px;
  line-height: 1.1;
  font-family: 'FontSui', FontRoc, sans-serif;
  font-weight: 300;
  cursor: pointer;
}

.prefixTitle {
  position: absolute;
  top: 14px;
  left: 4px;
  font-size: 16px;
  font-weight: 300;
}

.headingContainer {
  ._heading {
    display: inline;
    margin-right: 4px;
    font-weight: 300;
  }
}

.accordionContent {
  padding: 0 20px 15px 34px;
  line-height: 1.14;
  font-weight: 300;

  p {
    margin-top: 10px;
  }
}

.downArrow {
  height: 28px;
  width: auto;
  transition: transform 1s, opacity 1s;
}

.emptyContent .downArrow {
  display: none;
}

.showContent {
  &.expanded {
    background: $color-Green;

    ._heading {
      font-weight: 500;
    }

    .downArrow {
      opacity: 0;
      transform: rotate(-180deg);
      transform-style: preserve-3d;
    }
  }
}

@media only screen and (max-width: 499px) {
  .downArrow {
    height: 7vw;
  }
}

@media only screen and (min-width: 768px) {
  .accordionWrap {
    &.hasPrefix {
      .headingContainer {
        padding-left: 3.3vw;
      }
    }
  }

  .accordionHeader {
    padding: 15px 20px 5px;
  }

  .prefixTitle {
    font-size: 17px;
    top: 18px;
    left: 21px;
  }

  .headingContainer {
    ._heading {
      line-height: 1;
      margin-right: 6px;
    }
  }

  .accordionContent {
    padding-left: calc(5vw + 30px);
    padding-right: 20px;
    padding-bottom: 15px;

    * {
      line-height: 1;
    }
  }

  .downArrow {
    height: 32px;
  }

  .columnContent {
    position: relative;
    display: flex;

    .accordionHeader {
      flex: auto;
    }

    .accordionContent {
      flex: 60% 0;
      padding-left: 0;
      padding-top: 5px;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .showContent {
    &:hover {
      background: $color-Green;
    }
  }
}

@media only screen and (min-width: 1400px) {
  .accordionWrap {
    padding-top: 20px;

    &.hasPrefix {
      .headingContainer {
        padding-left: 50px;
      }
    }
  }

  .prefixTitle {
    font-size: 24px;
    top: 17px;
    left: 32px;
  }

  .accordionHeader {
    padding: 15px 30px 5px;
  }

  .headingContainer {
    ._heading {
      margin-right: 10px;
    }
  }

  .accordionContent {
    padding-left: 120px;
    padding-right: 50px;
    padding-bottom: 20px;
  }

  .downArrow {
    height: 45px;
  }
}