@import "variables.module";

.fullPageSection {
  overflow: hidden;
}

.homeSection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 30px;
  height: 100vh;
  overflow-x: hidden;

  .innerSection {
    position: relative;
    width: 100%;
    padding-left: 30px;
  }

  &[data-index="0"] {
    .mainHeading {
      margin-bottom: 60px;
    }

    h4 {
      line-height: 1.1;
      margin-bottom: 20px;
    }

    p {
      line-height: 1.1;
      margin-bottom: 20px;
    }
  }

  &[data-index="1"] {
    .innerSection {
      padding-left: 30px;
    }

    .content {
      line-height: 1.25;
    }
  }

  &[data-index="3"] {
    a:hover {
      text-decoration: underline;
    }
  }
}

.flexEnd {
  display: flex;
  align-items: flex-end;

  footer {
    width: 100%;
  }
}

.headingUnderLine {
  padding-right: 0;

  .homeHeading {
    margin-bottom: 40px;

    ._underLine {
      position: relative;
      padding-right: 30px;
      line-height: 1;
      padding-bottom: 20px;

      &:after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        width: 0;
        height: 1px;
        background: $color-Black;
        transition: width 5s;
      }
    }
  }
}

.ourCustomers {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0 20px;

  .customerItem {
    margin-bottom: 25px;
  }
}

.content2Cols {
  padding-right: 30px;

  p {
    margin-bottom: 20px;
    line-height: 1.14;
  }

  .leftColumn {
  }

  .rightColumn {
  }
}

.lineHome {
  ._lineTop, ._lineBottom, ._lineLeft, ._lineRight {
    position: absolute;
    width: 0;
    height: 1px;
    background: #000;
    transition: width 5s;
  }

  ._lineTop {
    top: 50vh;
    margin-top: 50px;
    right: 0;
    transform: rotate(40deg);
    transform-origin: right;
  }

  ._lineBottom {
    top: 50vh;
    margin-top: -50px;
    right: 0;
    transform: rotate(-40deg);
    transform-origin: top right;
  }

  ._lineLeft {
    top: 20vw;
    right: 10vw;
    transform: rotate(-25deg);
    transform-origin: right;
  }

  ._lineRight {
    top: 20vw;
    left: 12vw;
    transform: rotate(20deg);
    transform-origin: left;
  }
}

@media only screen and (max-width: 767px) {
  .headingUnderLine .homeHeading h3 br {
    display: none;
  }

  .homeSection {
    &[data-index="1"] {
      .innerSection {
        max-width: 400px;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .homeSection {
    &[data-index="0"] {
      p {
        margin-bottom: 30px;
      }
    }

    &[data-index="2"] {
      .homeHeading {
        h2 {
          padding-left: 100px;
          margin: 0 0 0 auto;
        }
      }
    }
  }

  .homeSection {
    .innerSection {
      padding-left: 10vw;
    }

    &[data-index="0"] {
      .innerSection {
        padding-right: 10vw;
      }
    }

    &[data-index="1"] {
      .content {
        line-height: 1.25;
        max-width: 40vw;
        margin: auto;
        padding: 0;
      }
    }

    &[data-index="2"] {
      .mainHeading {
        padding-left: 40px;
        margin: 0 0 0 auto;
      }
    }
  }

  .ourCustomers {
    flex-direction: row;
    justify-content: space-around;
    max-width: 1100px;

    .customerItem {
      margin: 20px;
    }
  }

  .content2Cols {
    display: flex;

    .leftColumn {
      flex: 40% 1;
    }

    .rightColumn {
      flex: 60% 1;
    }
  }

  .innerSection {
    ._absolute {
      position: absolute;
      right: 50px;
      top: 80px;
    }
  }

  .lineHome {
    ._lineTop {
      height: 2px;
      top: 56vh;
      margin-top: 150px;
      right: 0;
    }

    ._lineBottom {
      height: 2px;
      top: 56vh;
      right: 40px;
    }

    ._lineLeft {
      height: 2px;
      top: 50px;
      right: 24vw;
      transform: rotate(-19deg);
    }

    ._lineRight {
      height: 2px;
      top: 100px;
      left: 30vw;
      transform: rotate(13deg);
    }
  }
}


@media only screen and (min-width: 990px) {
  .innerSection {
    ._absolute {
      right: 10vw;
    }
  }
}


@media only screen and (min-width: 1440px) {
  .homeSection {

    &[data-index="0"] {
      p {
        margin-bottom: 30px;
      }
    }

    &[data-index="2"] {
      .homeHeading {
        h2 {
          padding-left: 150px;
          margin: 0 0 0 auto;
        }
      }
    }
  }

  .headingUnderLine {
    .homeHeading {
      ._underLine {
        &:after {
          height: 2px;
        }
      }
    }
  }

  .innerSection {
    ._absolute {
      right: 100px;
      top: 107px;
    }
  }
}