@import "variables.module";

.homeSection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 30px;
  height: 100vh;

  .mainHeading {

  }

  .content {
    padding-right: 30px;

    > p {
      margin-bottom: 20px;
    }
  }

  &[data-index="0"] {
    .mainHeading {
      margin-bottom: 60px;
    }

    .content {
      > p {
        margin-bottom: 20px;
      }
    }
  }
}

.innerSection {
  width: 100%;
}

.headingUnderLine {
  padding-right: 0;

  .homeHeading {
    padding-right: 30px;
    padding-bottom: 12px;
    margin-bottom: 40px;
    border-bottom: 1px solid $color-Black;
  }
}


@media screen and (min-width: 768px) {

}


@media screen and (min-width: 1440px) {
  .headingUnderLine {

    .homeHeading {
      border-bottom-width: 2px;
    }
  }
}