@import "variables.module";

.fullPageSection {
  overflow: hidden;
}

.homeSection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 30px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;

  .innerSection {
    position: relative;
    width: 100%;
    padding-left: 50px;
  }

  &[data-index="0"] {
    .mainHeading {
      margin-bottom: 60px;
    }

    .innerSection {
      h3 {
        margin-bottom: 20px;
      }

      h2 {
        line-height: 1;
      }

      h4 {
        line-height: 1.1;
        margin-bottom: 20px;
      }

      p {
        line-height: 1.1;
        margin-bottom: 20px;
      }

      .content2Cols {
        margin-top: 40px;
      }
    }
  }

  &[data-index="1"] {
    .innerSection {
      padding-left: 30px;
      max-width: 75vw;
    }

    .content {
      line-height: 1.25;
      min-height: 240px;
    }
  }

  &[data-index="3"] {
    a:hover {
      text-decoration: underline;
    }
  }
}

.flexEnd {
  display: flex;
  align-items: flex-end;

  footer {
    width: 100%;
  }
}

.headingUnderLine {
  padding-right: 0;

  .homeHeading {
    margin-bottom: 40px;

    ._underLine {
      position: relative;
      padding-right: 30px;
      line-height: 1;
      padding-bottom: 20px;

      &:after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        width: 0;
        height: 1px;
        background: $color-Black;
        transition: width 5s;
      }
    }
  }
}

.content2Cols {
  padding-right: 30px;

  p {
    margin-bottom: 20px;
    line-height: 1.14;
  }

  .leftColumn {
  }

  .rightColumn {
    a {
      &:hover {
        text-decoration: none;
        color: $color-Blue;
      }
    }
  }
}

.lineHome {
  ._lineTop, ._lineBottom, ._lineLeft, ._lineRight {
    position: absolute;
    width: 0;
    height: 1px;
    background: #000;
    transition: width 5s;
  }

  ._lineTop {
    top: 50vh;
    margin-top: 50px;
    right: 0;
    transform: rotate(40deg);
    transform-origin: right;
  }

  ._lineBottom {
    top: 50vh;
    margin-top: -50px;
    right: 0;
    transform: rotate(-40deg);
    transform-origin: top right;
  }

  ._lineLeft {
    top: 20vw;
    right: 10vw;
    transform: rotate(-25deg);
    transform-origin: right;
  }

  ._lineRight {
    top: 20vw;
    left: 12vw;
    transform: rotate(20deg);
    transform-origin: left;
  }
}

// Our Customer
.ourCustomers {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;

  .customerItem {
    margin-bottom: 5px;
    transform: translateX(100vw);
    opacity: 0;
    transition-duration: 2s, 2s;
    transition-timing-function: ease, ease;
    transition-property: transform, opacity;

    &._slideRightToLeft {
      opacity: 1;
      transform: translateX(0);
    }

    img {
      width: auto;
    }
  }
}

@media only screen and (max-width: 767px) {
  .ourCustomers {
    .customerItem {
      img {
        width: auto;
        max-height: 50px;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .ourCustomers {
    flex-direction: row;
    justify-content: center;

    .customerItem {
      width: 0;
      flex: 50% 0 0;
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .ourCustomers {
    display: inline-block;
    width: 100%;

    .customerItem {
      display: inline-block;
      padding-left: 0;
      padding-right: 0;
      margin-right: 40px;
      width: auto;
    }
  }
}

@media only screen and (min-width: 1400px) {
  .ourCustomers {
    .customerItem {
      margin-right: calc(22.5vw - 181px);
    }
  }
}
// # Our Customer

@media only screen and (max-width: 767px) {
  .headingUnderLine .homeHeading h3 br {
    display: none;
  }

  .homeSection {
    &[data-index="1"],
    &[data-index="2"] {
      align-items: flex-start;

      .innerSection {
        padding-top: 255px;
      }
    }
  }
}

@media only screen and (min-width: 500px) {
  .homeSection {
    &[data-index="1"] {
      .innerSection {
        max-width: 315px;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .homeSection {
    &[data-index="0"] {

      .innerSection {
        h3 {
          margin-bottom: 20px;
        }

        h2 {
          line-height: 1;
        }

        p {
          margin-bottom: 20px;
        }

        .content2Cols {
          margin-top: 40px;
        }
      }
    }

    &[data-index="2"] {
      .homeHeading {
        h2 {
          padding-left: 100px;
          margin: 0 0 0 auto;
        }
      }
    }
  }

  .homeSection {
    .innerSection {
      padding-left: 10vw;
    }

    &[data-index="0"] {
      .innerSection {
        padding-right: 10vw;
      }
    }

    &[data-index="1"] {
      .innerSection {
        max-width: 100%;
      }

      .content {
        line-height: 1.25;
        max-width: 485px;
        margin: auto;
        padding: 0;
      }
    }

    &[data-index="2"] {
      .mainHeading {
        padding-left: 40px;
        margin: 0 0 0 auto;
      }
    }
  }

  .content2Cols {
    display: flex;

    .leftColumn {
      flex: 40% 1;
    }

    .rightColumn {
      flex: 60% 1;
    }
  }

  .innerSection {
    ._absolute {
      position: absolute;
      right: 50px;
      top: 80px;
    }
  }

  .lineHome {
    ._lineTop {
      top: 56vh;
      margin-top: 150px;
      right: 0;
    }

    ._lineBottom {
      top: 56vh;
      right: 40px;
    }

    ._lineLeft {
      top: 50px;
      right: 24vw;
      transform: rotate(-19deg);
    }

    ._lineRight {
      top: 100px;
      left: 30vw;
      transform: rotate(13deg);
    }
  }
}

@media only screen and (min-width: 990px) {
  .innerSection {
    ._absolute {
      right: 10vw;
    }
  }
}

@media only screen and (min-width: 1400px) {
  .homeSection {

    &[data-index="0"] {
      p {
        margin-bottom: 30px;
      }
    }

    &[data-index="1"] {
      .content {
        max-width: 660px;
        min-height: 270px;
      }
    }

    &[data-index="2"] {
      .homeHeading {
        h2 {
          padding-left: 150px;
          margin: 0 0 0 auto;
        }
      }
    }
  }

  .headingUnderLine {
    .homeHeading {
      ._underLine {
        &:after {
          height: 2px;
        }
      }
    }
  }

  .innerSection {
    ._absolute {
      right: 100px;
      top: 107px;
    }
  }
}