@import "variables.module";

.header {
  display: flex;
  padding: 20px;

  .logoContainer {

    .logoImg {

    }
  }

  .menuBar {
    width: 1.2rem;
    height: 1px;
    background-color: $color-Black;
    margin-top: 2px;
    margin-bottom: 2px;

    &.top {

    }

    &.bottom {

    }
  }

  .menuBtn {

  }
}

@media screen and (min-width: $screen_m) {
  
}