@import "variables.module";

.header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0;
  background: $color-White;
  z-index: 900;

  .logoContainer {
    padding: 12px 10px 12px 20px;

    .logoImg {
    }
  }

  .menuBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 70px;
    height: 50px;
    padding: 0 20px;
    cursor: pointer;
  }

  .menuBar {
    width: 33px;
    height: 2px;
    background-color: $color-Black;
    margin-top: 5px;
    margin-bottom: 5px;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    transition: background-color 0.2s 0.8s, transform 0.5s 0.7s;
  }

  &.closed {
    background: #fff;
    transition: background-color 0.1s 1.5s;

    + .menuPanel {
      padding: 0;
      height: 0;
      transition: height 1s 1s, padding 0.1s 1s;

      a {
        transform: translate3d(0px, 130%, 0px);
        transition: transform 1s 0s;
      }
    }
  }

  &.open {
    background: inherit;

    &:not(.yellow) .menuBar {
      background-color: $color-White;
    }

    .menuBar.top {
      transform: translate3d(0px, 5px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(45deg) skew(0deg, 0deg);
    }

    .menuBar.bottom {
      transform: translate3d(0px, -6px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-45deg) skew(0deg, 0deg);
    }

    + .menuPanel {
      padding: 80px 20px 10px;
      height: 100vh;
      transition: height 1s 0s;
      //top: 0;
      //transition: height 0.8s 0s, top 0.1s 0.8s;

      a {
        transform: translate3d(0, 0, 0);
        transition: transform 1s 1s;
      }
    }
  }

  &.blue {
    + .menuPanel {
      background-color: $color-Blue;
    }
  }

  &.yellow {
    + .menuPanel {
      background-color: $color-Yellow;

      a {
        color: $color-SoftBlack;
      }

      .bottomLine {
        background: $color-SoftBlack;
      }
    }
  }
}

.menuPanel {
  width: 100%;
  background-color: $color-SoftBlack;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 400;
  color: #fff;
  overflow-x: hidden;
  overflow-y: auto;

  .menuItem {
    position: relative;
    display: block;
    padding: 10px 0;
    line-height: 1;
    overflow: hidden;
  }

  a {
    position: relative;
    font-weight: 300;
    display: inline-block;
    transform-style: preserve-3d;
  }

  .bottomLine {
    width: 0;
    height: 2px;
    background: #fff;
    position: absolute;
    bottom: 5px;
    left: 0;
    transition-duration: 1s;
    transition-property: width;
  }

  a:hover {
    .bottomLine {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 389px) {
  .menuPanel {
    .bottomLine {
      bottom: 1px;
    }
  }
}

@media only screen and (min-width: 1400px) {
  .header {
    .logoContainer {
      padding-left: 50px;

      img {
        width: 29px;
        height: 29px;
      }
    }

    .menuBtn {
      padding: 0 50px;
    }
  }

  .menuPanel {
    padding: 80px 50px 10px;

    .menuItem {
      padding: 0;
    }

    .bottomLine {
      bottom: 15px;
    }
  }

}