@import "variables.module";

// MOBILE
.contactSection {
  display: flex;
  justify-content: center;
  padding: 115px 0 0;
  height: 100vh;
  overflow-x: hidden;

  .innerSection {
    position: relative;
    width: 100%;
    padding-right: 30px;
  }

  ._content {
    padding-left: 0;
  }
}

.fullPageSection {
  overflow: hidden;
}
.s40_64 {
  font-size: 40px;
}

.s50_140 {
  font-size: 50px;
}

// > IPAD
@media screen and (min-width: 768px) {
  .s40_64 {
    font-size: 5vw;
  }

  .s50_140 {
    font-size: 8.5vw;
  }

  .contactSection {
    padding-top: 5vh;

    .innerSection {
      padding: 0 60px 0 0;
      text-align: right;
    }

    ._content {
      line-height: 1.1;
      max-width: 350px;
      text-align: left;
      margin: 0 0 0 auto;
    }
  }
}

@media screen and (min-width: 1025px) {
  .contactSection {
    padding-top: 130px;
  }
}

@media screen and (min-width: 1440px) {
  .s40_64 {
    font-size: 64px;
  }

  .s50_140 {
    font-size: 140px;
  }

  .contactSection {
    padding-top: 130px;

    .innerSection {
      padding-right: 90px;
    }

    ._content {
      max-width: 490px;
    }
  }
}