@import "variables.module";

// MOBILE
.caseStudiesWrap {
  min-height: 100vh;
}

.caseSection {
  width: 100%;
}

.caseArticle {}

// START - Detail page - slug.js
.articleTitle {
  border-bottom: 2px solid;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 400;
}

.property {
  line-height: 1.25;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 20px;
}

.leftHeading {
  color: $color-Blue;
  margin-bottom: 20px;

  h2 {
    font-weight: 400;
  }
}

.rightContent {
  h4 {
    font-weight: 300;
    font-size: 24px;
  }

  p {
    font-size: 24px;
    //font-weight: 300;
  }
}

.backLink {
  text-align: right;
  padding-right: 20px;
}

.backLinkInner {
  display: inline-flex;
  align-items: center;

  span {
    margin-left: 5px;
  }
}

@media only screen and (max-width: 389px) {
  .rightContent {
    h4, p {
      font-size: 14px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .articleTitle {
    margin-bottom: 20px;
  }

  .property {
    display: flex;
  }

  .leftHeading {
    flex: 30%;
  }

  .rightContent {
    flex: 70%;

    h4 {
      font-size: 30px;
    }

    p {
      font-size: 24px;
    }
  }
}

@media only screen and (min-width: 1400px) {
  .articleTitle {
    margin-bottom: 20px;
  }

  .property {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 120px;
  }

  .rightContent {
    h4 {
      font-size: 42px;
    }

    p {
      font-size: 30px;
    }
  }

  .backLink {
    padding-right: 120px;
  }

  .backLinkInner {
    span {
      margin-left: 10px;
    }

    svg {
      width: 40px;
      height: auto;
    }
  }

}

// END - DETAIL PAGE - slug.js