@import "variables.module";

// Color
.blueText {
  color: $color-Blue;
}

.yellowText {
  color: $color-Yellow;
}

.greenText {
  color: $color-Green;
}

.yellowHighlight {
  background: $color-Yellow;
  font-weight: 500;
}

.blueHighlight {
  background: $color-Blue;
  color: $color-White;
  font-weight: 500;
}

.greenHighlight {
  background: $color-Green;
  color: $color-White;
  font-weight: 500;
}

// # Color

// Effect

@keyframes fadeLoop {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.fadeInOut {
  animation: fadeLoop 4s infinite;
}


// Page Title
.initNotRunEffect {
}

.pageTitle {
  position: absolute;
  transform: rotate(90deg) translateY(-27%);
  transform-origin: left;
  white-space: nowrap;
  font-weight: 600;
  font-size: 40px;
  top: 34px;
  left: -100px;
  transition: left 1s;
  padding-left: 6px;

  &:not(.initNotRunEffect) {
    left: -4px;
  }
}

.pageWrapLeft {
  //min-height: 88vh;
  padding-left: 60px;
}

.pageWrapTop {
  padding-top: calc(5vw + 50px);
}

@media only screen and (max-width: 389px) {
  .pageWrapLeft {
    padding-left: 45px;
  }
}

@media only screen and (min-width: 768px) {
  .pageTitle {
    font-size: 60px;
    top: 11px;

    &:not(.initNotRunEffect) {
      left: -7px;
    }
  }

  .pageWrapLeft {
    padding-left: calc(6vw + 50px);
  }

  .pageWrapTop {
    padding-top: calc(6vw + 50px);
  }
}

@media only screen and (min-width: 1200px) {
  .pageTitle {
    font-size: 80px;
    top: -4px;

    &:not(.initNotRunEffect) {
      left: -8px;
    }
  }

  .pageWrapLeft {
    padding-left: calc(6vw + 64px);
  }

  .pageWrapTop {
    padding-top: calc(6vw + 50px);
  }
}

@media only screen and (min-width: 1400px) {
  .pageTitle {
    font-size: 120px;
    top: -12px;

    &:not(.initNotRunEffect) {
      left: -13px;
    }
  }

  .pageWrapLeft {
    padding-left: 170px;
  }

  .pageWrapTop {
    padding-top: 155px;
  }
}

// # Page Title
