@import "variables.module";

.fullPageSection {
  overflow: hidden;
}

.aboutSection {
  display: flex;
  justify-content: center;
  padding: 120px 0 0;
  height: 100vh;
  overflow-x: hidden;

  .innerSection {
    position: relative;
    width: 100%;
    padding: 0 40px;
  }

  .logoImg {
    margin: 0 0 20px;
  }

  ._heading {

  }

  ._content {
    padding-left: 40px;
  }
}

// Line
.aboutLine {
  ._lineLeft, ._lineRight, ._lineTop, ._lineBottom {
    position: absolute;
    width: 0;
    height: 1px;
    background: #000;
    transition: width 3s 0.5s;
  }
}

.fullPageSection {
  &[data-index="0"] {
    ._lineLeft {
      top: 54px;
      left: 40px;
      transform: rotate(36deg);
      transform-origin: left;
    }

    ._lineRight {
      top: 78vw;
      margin-top: -15vw;
      right: 0;
      transform: rotate(-36deg);
      transform-origin: top right;
    }
  }

  &[data-index="1"] {
    ._lineLeft {
      top: 100px;
      left: 90px;
      transform: rotate(26deg);
      transform-origin: left;
    }

    ._lineRight {
      top: 80px;
      right: 90px;
      transform: rotate(-20deg);
      transform-origin: right;
    }
  }

  &[data-index="2"] {
    ._lineLeft {
      top: 68px;
      left: 108px;
      transform: rotate(40deg);
      transform-origin: left;
    }

    ._lineRight {
      top: 70vh;
      left: 108px;
      transform: rotate(-40deg);
      transform-origin: left;
    }
  }

  &[data-index="3"] {
    ._lineLeft {
      top: 140px;
      left: 62px;
      transform: rotate(30deg);
      transform-origin: left;
    }

    ._lineRight {
      top: 300px;
      left: 97px;
      transform: rotate(-30deg);
      transform-origin: left;
    }
  }
}

@media screen and (min-width: 768px) {
  .fullPageSection {
    &[data-index="0"] {
      ._lineLeft {
        height: 2px;
        left: 36vw;
      }

      ._lineRight {
        height: 2px;
        top: 33vw;
        right: 30px;
      }
    }

    &[data-index="1"] {
      ._lineLeft {
        height: 2px;
        top: 117px;
        left: 24.6vw;
      }

      ._lineRight {
        height: 2px;
        top: 92px;
        right: 37vw;
      }
    }

    &[data-index="2"] {
      ._lineLeft {
        height: 2px;
        top: 68px;
        left: 43.2vw;
      }

      ._lineRight {
        height: 2px;
        top: 68px;
        right: 11.4vw;
        left: auto;
        transform-origin: right;
        transform: rotate(-40deg);
        max-width: calc(50vw + 50vh);
      }
    }

    &[data-index="3"] {
      ._lineLeft {
        height: 2px;
        top: 100px;
        left: 31vw;
      }

      ._lineRight {
        height: 2px;
        top: 50px;
        left: auto;
        right: 32vw;
        max-width: calc(50vh + 10vw);
        transform-origin: right;
        transform: rotate(-30deg);
      }
    }
  }
}

// END - Line

// Our Customer
.ourCustomers {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0 20px;

  .customerItem {
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 768px) {
  .ourCustomers {
    flex-direction: row;
    justify-content: space-around;
    max-width: 1100px;

    .customerItem {
      margin: 20px;
    }
  }
}

// # Our Customer

// > Ipad
@media screen and (min-width: 768px) {
  .aboutSection {
    align-items: center;
    padding-top: 0;

    .innerSection {
      padding: 0 10vw 0 12vw;
    }

    .logoImg {
      width: 36vw;
      height: auto;
      margin-bottom: 40px;
    }
  }
}


@media screen and (min-width: 1440px) {
  .aboutSection {
    .logoImg {
      width: 640px;
      margin-bottom: 50px;
    }
  }
}