@import "variables.module";

.aboutSection {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;

  .innerSection {
    padding-top: 120px;
    position: relative;
    width: 100%;
    height: 100%;
    padding-right: 20px;
  }

  .logoImg {
    margin: 0 0 20px;
  }

  ._heading {
  }
}

.flexEnd {
  display: flex;
  align-items: flex-end;

  &.aboutSection {
    padding-top: 0;
  }

  footer {
    width: 100%;
  }
}

.fullPageSection {
  overflow: hidden;
}

// Our Customer Slider
.ourCustomers {
  .customerItem {
    padding: 10px;
  }

  img {
    margin: 0 auto;
  }
}

// # Our customer slider

// Line
.aboutLine {
  ._lineLeft, ._lineRight, ._lineTop, ._lineBottom {
    position: absolute;
    width: 0;
    height: 1px;
    background: #000;
    transition: width 3s 0.5s;
  }
}

.fullPageSection {
  &[data-index="0"] {
    ._lineLeft {
      top: 54px;
      left: 40px;
      transform: rotate(36deg);
      transform-origin: left;
    }

    ._lineRight {
      top: 78vw;
      margin-top: -15vw;
      right: 0;
      transform: rotate(-36deg);
      transform-origin: top right;
    }
  }

  &[data-index="1"] {
    ._lineLeft {
      top: 100px;
      left: 90px;
      transform: rotate(26deg);
      transform-origin: left;
    }

    ._lineRight {
      top: 80px;
      right: 90px;
      transform: rotate(-20deg);
      transform-origin: right;
    }
  }

  &[data-index="2"] {
    ._lineLeft {
      top: 68px;
      left: 108px;
      transform: rotate(40deg);
      transform-origin: left;
    }

    ._lineRight {
      top: 70vh;
      left: 108px;
      transform: rotate(-40deg);
      transform-origin: left;
    }
  }

  &[data-index="3"] {
    ._lineLeft {
      top: 140px;
      left: 62px;
      transform: rotate(30deg);
      transform-origin: left;
    }

    ._lineRight {
      top: 300px;
      left: 97px;
      transform: rotate(-30deg);
      transform-origin: left;
    }
  }
}

@media only screen and (min-width: 768px) {
  .fullPageSection {
    &[data-index="0"] {
      ._lineLeft {
        height: 2px;
        left: 36vw;
      }

      ._lineRight {
        height: 2px;
        top: 33vw;
        right: 30px;
      }
    }

    &[data-index="1"] {
      ._lineLeft {
        height: 2px;
        top: 117px;
        left: 24.6vw;
      }

      ._lineRight {
        height: 2px;
        top: 92px;
        right: 37vw;
      }
    }

    &[data-index="2"] {
      ._lineLeft {
        height: 2px;
        top: 68px;
        left: 43.2vw;
      }

      ._lineRight {
        height: 2px;
        top: 68px;
        right: 11.4vw;
        left: auto;
        transform-origin: right;
        transform: rotate(-40deg);
        max-width: calc(50vw + 50vh);
      }
    }

    &[data-index="3"] {
      ._lineLeft {
        height: 2px;
        top: 100px;
        left: 31vw;
      }

      ._lineRight {
        height: 2px;
        top: 50px;
        left: auto;
        right: 32vw;
        max-width: calc(50vh + 10vw);
        transform-origin: right;
        transform: rotate(-30deg);
      }
    }
  }
}

// END - Line


// Content
.contentWrap {
  display: flex;

  .virtualNav {
    list-style: none;
    margin-right: 7px;
    margin-top: 3px;

    li {
      margin-bottom: 7px;
      width: 18px;
      height: 16px;
    }

    a {
      display: block;
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100%;
      cursor: pointer;
      text-decoration: none;
      border: 1px solid #000;
      border-radius: 5px;
    }

    .activatedDot {
      &:nth-child(2n+1) a {
        background-color: $color-Blue;
      }

      &:nth-child(2n) a {
        background-color: $color-Yellow;
      }
    }
  }

  ._rightContent {

  }
}

@media only screen and (min-width: 390px) {
  .contentWrap {
    .virtualNav {
      margin-right: 10px;
      margin-top: 5px;

      li {
        width: 25px;
        height: 22px;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .contentWrap {
    line-height: 1.1;

    .virtualNav {
      margin-right: 15px;
      margin-top: 3px;

      li {
        width: 30px;
        height: 27px;
      }

      a {
        border-radius: 7px;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .contentWrap {
    .virtualNav {
      li {
        &:hover {
          &:nth-child(2n+1) a {
            background-color: $color-Blue;
          }

          &:nth-child(2n) a {
            background-color: $color-Yellow;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1440px) {
  .contentWrap {
    .virtualNav {
      margin-top: 5px;

      li {
        width: 40px;
        height: 36px;
      }

      a {
        border-radius: 10px;
      }
    }
  }
}

// End Content


@media only screen and (min-width: 768px) {

  .aboutSection {
    .innerSection {
      padding-top: 26vw;
      padding-right: 10vw;
    }

    .logoImg {
      width: 36vw;
      height: auto;
      margin-bottom: 40px;
    }
  }

  .fullPageSection {
    &[data-index='0'] {
      .aboutSection {
        .innerSection {
          padding-top: 26.5vw;
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .aboutSection {
    .innerSection {
      padding-top: 17vw;
    }
  }

  .fullPageSection {
    &[data-index='0'] {
      .aboutSection {
        .innerSection {
          padding-top: 14vw;
        }
      }
    }
  }
}

@media only screen and (min-width: 1440px) {
  .aboutSection {
    .innerSection {
      padding-top: 30vh;
    }

    .logoImg {
      width: 640px;
      margin-bottom: 50px;
    }
  }

  .fullPageSection {
    &[data-index='0'] {
      .aboutSection {
        .innerSection {
          padding-top: calc(30vh - 38px);
        }
      }
    }
  }
}