@import "variables.module";

.partnerSection {
  min-height: 500px;

  .innerSection {
    position: relative;
    width: 100%;
  }
}

.blackLine {
  border-top: 2px solid $color-Black;
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1440px) {
}