@import "variables.module";

// Color
.blueText {
  color: $color-Blue;
}

.yellowText {
  color: $color-Yellow;
}

.greenText {
  color: $color-Green;
}

.yellowHighlight {
  background: $color-Yellow;
  font-weight: 500;
}

.blueHighlight {
  background: $color-Blue;
  color: $color-White;
  font-weight: 500;
}

.greenHighlight {
  background: $color-Green;
  color: $color-White;
  font-weight: 500;
}

// # Color


// Page Title
.initNotRunEffect {
}

.pageTitle {
  position: absolute;
  transform: rotate(90deg) translateY(-27%);
  transform-origin: left;
  top: 34px;
  font-weight: 600;
  font-size: 40px;
  left: -100px;
  transition: left 1s;

  &:not(.initNotRunEffect) {
    left: -4px;
  }
}

.pageWrap {
  min-height: 88vh;
  padding-top: calc(5vw + 50px);
  padding-left: 60px;
}

@media only screen and (min-width: 768px) {
  .pageTitle {
    font-size: 60px;
    top: 11px;

    &:not(.initNotRunEffect) {
      left: -7px;
    }
  }

  .pageWrap {
    padding-top: calc(6vw + 50px);
    padding-left: calc(6vw + 50px);
  }
}

@media only screen and (min-width: 1200px) {
  .pageTitle {
    font-size: 80px;
    top: -4px;

    &:not(.initNotRunEffect) {
      left: -8px;
    }
  }

  .pageWrap {
    padding-top: calc(6vw + 50px);
    padding-left: calc(6vw + 64px);
  }
}

@media only screen and (min-width: 1440px) {
  .pageTitle {
    font-size: 100px;
    top: -12px;

    &:not(.initNotRunEffect) {
      left: -11px;
    }
  }

  .pageWrap {
    padding-top: 155px;
    padding-left: 170px;
  }
}

// # Page Title
