@import "variables.module";

.aboutSection {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;

  .innerSection {
    padding-top: 90px;
    position: relative;
    width: 100%;
    height: 100%;
  }

  ._rightContent {
    padding-right: 20px;
  }

  .logoImg {
    margin: 0 0 20px;
  }

  ._heading {}

  ._headingLoop {
    position: relative;
    padding-bottom: 65px;
    span {
      position: absolute;
      top: 0;
    }
  }
}

@media only screen and (min-width: 768px) {
  .aboutSection {
    ._headingLoop {
      padding-bottom: 117px;
    }
  }
}

@media only screen and (min-width: 1400px) {
  .aboutSection {
    ._headingLoop {
      padding-bottom: 168px;
    }
  }
}

.fullPageSection {
  &[data-index='0'] {
    .aboutSection {
      .innerSection {
        padding-top: 98px;
      }
    }
  }
}

.flexEnd {
  display: flex;
  align-items: flex-end;

  &.aboutSection {
    padding-top: 0;
  }

  footer {
    width: 100%;
  }
}

.fullPageSection {
  overflow: hidden;
}

// Our Customer
.ourCustomers {
  .customerItem {
    transform: translateX(100vw);
    opacity: 0;
    transition-duration: 2s, 2s;
    transition-timing-function: ease, ease;
    transition-property: transform, opacity;

    &._slideRightToLeft {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

@media only screen and (max-width: 579px) {
  .ourCustomers {
    .customerItem {
      img {
        width: auto;
        max-height: 50px;
      }
    }
  }
}

@media only screen and (min-width: 580px) {
  .ourCustomers {
    text-align: center;
    padding-left: calc(15vw - 10px - 70px);
    padding-right: calc(15vw - 10px - 70px);

    .customerItem {
      display: inline-block;
      margin-bottom: 20px;
      margin-left: calc(15vw - 10px - 70px); // (100vw - 60px -420px ) / 6
      margin-right: calc(15vw - 10px - 70px);
    }

  }
}

@media only screen and (min-width: 1200px) {
  .ourCustomers {
    padding-left: calc(9.4vw - 7px - 73px);
    padding-right: calc(9.4vw - 7px - 73px);

    .customerItem {
      margin-left: calc(9.4vw - 7px - 73px); // (100vw - 6vw - 64px - 723px) / 10
      margin-right: calc(9.4vw - 7px - 73px);
    }
  }
}

@media only screen and (min-width: 1400px) {
  .ourCustomers {
    padding-left: calc(10vw - 17px - 73px);
    padding-right: calc(10vw - 17px - 73px);

    .customerItem {
      margin-left: calc(10vw - 17px - 73px); // (100vw - 170px - 723px) / 10
      margin-right: calc(10vw - 17px - 73px);
    }
  }
}

// # Our customer

// Line
.aboutLine {
  ._lineLeft, ._lineRight, ._lineTop, ._lineBottom {
    position: absolute;
    width: 0;
    height: 1px;
    background: #000;
    transition: width 3s 0.5s;
  }
}

.fullPageSection {
  &[data-index="0"] {
    ._lineLeft {
      top: 54px;
      left: 40px;
      transform: rotate(36deg);
      transform-origin: left;
    }

    ._lineRight {
      top: 78vw;
      margin-top: -15vw;
      right: 0;
      transform: rotate(-36deg);
      transform-origin: top right;
    }
  }

  &[data-index="1"] {
    ._lineLeft {
      top: 100px;
      left: 90px;
      transform: rotate(26deg);
      transform-origin: left;
    }

    ._lineRight {
      top: 80px;
      right: 90px;
      transform: rotate(-20deg);
      transform-origin: right;
    }
  }

  &[data-index="2"] {
    ._lineLeft {
      top: 68px;
      left: 108px;
      transform: rotate(40deg);
      transform-origin: left;
    }

    ._lineRight {
      top: 70vh;
      left: 108px;
      transform: rotate(-40deg);
      transform-origin: left;
    }
  }

  &[data-index="3"] {
    ._lineLeft {
      top: 140px;
      left: 62px;
      transform: rotate(30deg);
      transform-origin: left;
    }

    ._lineRight {
      top: 300px;
      left: 97px;
      transform: rotate(-30deg);
      transform-origin: left;
    }
  }
}

@media only screen and (min-width: 768px) {
  .fullPageSection {
    &[data-index="0"] {
      ._lineLeft {
        left: 36vw;
      }

      ._lineRight {
        top: 33vw;
        right: 30px;
      }
    }

    &[data-index="1"] {
      ._lineLeft {
        top: 117px;
        left: 24.6vw;
      }

      ._lineRight {
        top: 92px;
        right: 37vw;
      }
    }

    &[data-index="2"] {
      ._lineLeft {
        top: 68px;
        left: 43.2vw;
      }

      ._lineRight {
        top: 68px;
        right: 11.4vw;
        left: auto;
        transform-origin: right;
        transform: rotate(-40deg);
        max-width: -webkit-calc(50vw + 50vh);
        max-width: calc(50vw + 50vh);
      }
    }

    &[data-index="3"] {
      ._lineLeft {
        top: 100px;
        left: 31vw;
      }

      ._lineRight {
        top: 50px;
        left: auto;
        right: 32vw;
        max-width: -webkit-calc(50vh + 10vw);
        max-width: calc(50vh + 10vw);
        transform-origin: right;
        transform: rotate(-30deg);
      }
    }
  }
}

// END - Line


// Content
.contentWrap {
  display: flex;

  .virtualNav {
    list-style: none;
    margin-right: 7px;
    margin-top: 3px;

    li {
      margin-bottom: 7px;
      width: 18px;
      height: 16px;
    }

    a {
      display: block;
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100%;
      cursor: pointer;
      text-decoration: none;
      border: 1px solid #000;
      border-radius: 5px;
    }

    .activatedDot {
      &:nth-child(2n+1) a {
        background-color: $color-Blue;
      }

      &:nth-child(2n) a {
        background-color: $color-Yellow;
      }
    }
  }

  ._rightContent {

  }
}

@media only screen and (min-width: 390px) {
  .contentWrap {
    .virtualNav {
      margin-right: 10px;
      margin-top: 5px;

      li {
        width: 25px;
        height: 22px;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .contentWrap {
    line-height: 1.1;

    .virtualNav {
      margin-right: 15px;
      margin-top: 3px;

      li {
        width: 30px;
        height: 27px;
      }

      a {
        border-radius: 7px;
      }
    }
  }
}

@media only screen and (min-width: 1300px) {
  .contentWrap {
    .virtualNav {
      li {
        &:hover {
          &:nth-child(2n+1) a {
            background-color: $color-Blue;
          }

          &:nth-child(2n) a {
            background-color: $color-Yellow;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1400px) {
  .contentWrap {
    .virtualNav {
      margin-top: 5px;

      li {
        width: 40px;
        height: 36px;
      }

      a {
        border-radius: 10px;
      }
    }
  }
}

// End Content


@media only screen and (min-width: 768px) {
  .aboutSection {
    .innerSection {
      padding-top: 95px;
      padding-right: 0;
    }

    ._rightContent {
      padding-right: 30px;
    }

    .logoImg {
      max-width: 400px;
      width: 36vw;
      height: auto;
      margin-bottom: 40px;
    }
  }

  .fullPageSection {
    &[data-index='0'] {
      .aboutSection {
        .innerSection {
          padding-top: 114px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .aboutSection {
    .innerSection {
      padding-top: 109px;
    }
  }

  .fullPageSection {
    &[data-index='0'] {
      .aboutSection {
        .innerSection {
          padding-top: 128px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1400px) {
  .aboutSection {
    .innerSection {
      padding-top: 150px;
    }

    ._rightContent {
      padding-right: 0;
      max-width: 1175px;
    }

    .logoImg {
      width: 400px;
      margin-bottom: 50px;
    }
  }

  .fullPageSection {
    &[data-index='0'] {
      .aboutSection {
        .innerSection {
          padding-top: 178px;
        }
      }
    }

    &[data-index='2'] {
      ._rightContent {
        max-width: 1090px;
      }
    }
  }
}