@import "variables.module";

.partnerSection {
  min-height: 360px;

  .innerSection {
    position: relative;
    width: 100%;
  }
}

.blackLine {
  border-top: 2px solid $color-Black;
}

@media only screen and (min-width: 768px) {
  .partnerSection {
    min-height: 500px;
  }
}

@media only screen and (min-width: 1200px) {
  .partnerSection {
    min-height: 650px;
  }
}

@media only screen and (min-width: 1400px) {
  .partnerSection {
    min-height: 800px;
  }
}