// Color
$color-Black: #000000;
$color-SoftBack: #1a1a1a;
$color-White: #ffffff;
$color-Grey: #585858;
$color-LightGrey: #E9E9E9;
$color-Blue: #0827F5;
$color-Green: #1AC758;
$color-Yellow: #F7F749;
$color-purple: #A93CC7;

